Repository chdemko/py-part, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, test

.github/labeler.yml:

# Add 'repo' label to any root file changes
docs:
  - docs/**/*
  
test:
  - tests/**/*

Precise TODO
  part/sets.py
Labels: none

Remove TODO from pylint (fixme)
  .pylintrc
Labels: none

Add sortedcontainers dependencies for sphinx
  docs/requirements.txt
Labels: docs

Add nbsphinx dependencies for sphinx
  docs/requirements.txt
  tests/test_mutable_interval_dict.py
Labels: docs, test

Use black
  tests/test_mutable_interval_dict.py
Labels: test

Add jupyter dependencies for sphinx
  docs/requirements.txt
Labels: docs

Add codacy badge
  README.md
Labels: none

Fix codacy
  part/__init__.py
Labels: none

Use .[docs]
  docs/requirements.txt
Labels: docs

Add docs
  README.md
Labels: none

Precise __init__ signature
  part/dicts.py
Labels: none

Update installation instructions
  README.md
  docs/install/index.rst
Labels: docs

Check docs
  setup.py
  tox.ini
Labels: none

Fix tox.ini for doc8
  tox.ini
Labels: none

Fix doc
  docs/index.rst
  docs/install/index.rst
  setup.py
Labels: docs

Add docs
  docs/build/index.rst
  docs/help/index.rst
Labels: docs

Use starter version
  .github/workflows/pythonpublish.yml
Labels: none

Fix #2
  tests/test_interval_dict.py
  tests/test_mutable_interval_dict.py
Labels: test

Fix some codacy issues
  part/atomic.py
Labels: none

Fix some codacy issues
  part/atomic.py
  part/dicts.py
  part/sets.py
  part/utils.py
Labels: none

Add docs
  part/atomic.py
  part/utils.py
Labels: none

Fix some pep257 issues.
  part/utils.py
  part/values.py
  setup.py
Labels: none

Fix some pep257 issues.
  part/values.py
Labels: none

Fix pep257 D100
  part/atomic.py
  part/dicts.py
  part/sets.py
Labels: none

Fix doc test
  part/atomic.py
Labels: none

Fix some pep257 issues
  part/dicts.py
Labels: none

Fix PEP257 D205
  part/atomic.py
  part/dicts.py
  part/sets.py
Labels: none

Fix PEP257 D105
  part/atomic.py
  part/dicts.py
Labels: none

Fix PEP257 D200
  part/atomic.py
  part/dicts.py
  part/sets.py
Labels: none

Fix PEP257 D400
  part/atomic.py
Labels: none

Use pep257
  part/atomic.py
  part/utils.py
  tox.ini
Labels: none

Fix doc
  part/atomic.py
  part/sets.py
Labels: none

Fix doc
  part/__init__.pyi
  part/dicts.py
  part/sets.py
Labels: none

Add benchmarks
  benchmark.py
Labels: none

Add icons
  README.md
Labels: none

Remove empty line
  README.md
Labels: none

Remove scrutinizer
  README.md
Labels: none

Factorize code
  part/sets.py
Labels: none

Update pythonpackage.yml
  .github/workflows/pythonpackage.yml
Labels: none

Add repo token from coveralls
  .github/workflows/pythonpackage.yml
Labels: none
